<!--<form id="js-new-middle-category-form" class="js-new-middle-category-form" style="margin: 0" action="/middle_categories/create" accept-charset="UTF-8" data-remote="true" method="post">
<input type="hidden" name="middle_category[name]" id="middle_category_name" class="js-middle-category-name" autocomplete="off" />
<input type="hidden" name="middle_category[large_category_id]" id="middle_category_large_category_id" value="0" class="js-middle-category-large-category-id" autocomplete="off" />
<input type="hidden" name="middle_category[transaction_page]" id="middle_category_transaction_page" value="true" class="js-middle-category-transaction-page" autocomplete="off" />
<input type="hidden" name="middle_category[reload_type]" id="middle_category_reload_type" value="0" class="js-middle-category-reload-type" autocomplete="off" />
</form>
<div aria-hidden='true' aria-labelledby='modal_asset_new_label' class='modal fade hide' id='user_asset_act_new' role='dialog' style='top: 5%; width: 600px; min-height: 550px'>
    <form id="form-user-asset-act" class="form-horizontal" action="/cf/create" accept-charset="UTF-8" data-remote="true" method="post">
        <input value="0" autocomplete="off" type="hidden" name="user_asset_act[is_transfer]" id="user_asset_act_is_transfer" />
        <input value="0" id="user_asset_act_is_income_modal" autocomplete="off" type="hidden" name="user_asset_act[is_income]" />
        <div class='modal-header'>
            <div area-hidden='true' class='close' data-dismiss='modal' type='button'>×</div>
            <h3>家計簿入力</h3>
        </div>
        <div class='modal-body js-cf-edit-container pc' style='max-height: 580px;'>
            <ul class='tab-menu'>
                <li id='important'>
                    <label class='active'>
                        <input class="minus-payment" type="radio" value="2" checked="checked" name="user_asset_act[payment]" id="user_asset_act_payment_2" />
                        支出
                    </label>
                </li>
                <li id='info'>
                    <label>
                        <input class="plus-payment" type="radio" value="2" name="user_asset_act[payment]" id="user_asset_act_payment_2" />
                        収入
                    </label>
                </li>
                <li id='success'>
                    <label>
                        <input class="transfer-payment" type="radio" value="2" name="user_asset_act[payment]" id="user_asset_act_payment_2" />
                        振替
                    </label>
                </li>
            </ul>
            <div class='important-box' id='select-detail-area'>
                <div class='control-group'>
                    <div class='left-column'>日付</div>
                    <div class='right-column'>
                        <input id="updated-at" style="width:110px; vertical-align: top;" title="クリックして編集" type="text" name="user_asset_act[updated_at]" />
                        <div id='recurring_flag-box'>
                            <label for='user_asset_act_recurring_flag'>
                                <input name="user_asset_act[recurring_flag]" type="hidden" value="0" autocomplete="off" /><input type="checkbox" value="1" name="user_asset_act[recurring_flag]" id="user_asset_act_recurring_flag" />
                                繰り返し入力
                                <input type="hidden" name="month" id="month" value="" autocomplete="off" />
                            </label>
                            <div id='js-recurring-setting-area'>
                                <label for='recurring_frequency'>
                                    繰り返し：
                                    <select name="user_asset_act[recurring_frequency]" id="user_asset_act_recurring_frequency">
                                        <option value="daily">毎日</option>
                                        <option value="weekly">毎週</option>
                                        <option value="monthly">毎月</option>
                                        <option value="month-end">月末</option>
                                    </select>
                                </label>
                                <label for='user_asset_act_recurring_limit_off_flag'>
                                    終了日：
                                    <input name="user_asset_act[recurring_limit_off_flag]" type="hidden" value="0" autocomplete="off" /><input type="checkbox" value="1" checked="checked" name="user_asset_act[recurring_limit_off_flag]" id="user_asset_act_recurring_limit_off_flag" />
                                    なし
                                </label>
                                <label>
                                    <input disabled="disabled" style="margin-left: 55px;" type="text" name="user_asset_act[recurring_limit]" id="user_asset_act_recurring_limit" />
                                </label>
                                <label>
                                    <input name="user_asset_act[recurring_rule_only_flag]" type="hidden" value="0" autocomplete="off" /><input type="checkbox" value="1" name="user_asset_act[recurring_rule_only_flag]" id="user_asset_act_recurring_rule_only_flag" />
                                    ルールだけ作成
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='control-group'>
                    <div class='left-column' id='amount-important'>
                        支出金額
                    </div>
                    <div class='left-column' id='amount-info'>
                        収入金額
                    </div>
                    <div class='left-column' id='amount-success'>振替金額</div>
                    <div class='right-column'>
                        <div class='input-prepend input-append'>
                            <span class='add-on plus-minus'></span>
                            <input id="appendedPrependedInput" style="width: 157px;" type="text" name="user_asset_act[amount]" />
                            <span class='add-on'>円</span>
                        </div>
                        <div id='sub_account-wrp'>
                            <input value="0" autocomplete="off" type="hidden" name="user_asset_act[sub_account_id_hash]" id="user_asset_act_sub_account_id_hash" />
                        </div>
                    </div>
                </div>
                <div class='control-group' id='large_category_group'>
                    <div class='left-column'>
                        項目
                        <span>
                            ※項目を選択しない場合は、未分類となります。
                        </span>
                    </div>
                    <div class='right-column'>
                        <input class="h_l_ctg" autocomplete="off" type="hidden" name="user_asset_act[large_category_id]" id="user_asset_act_large_category_id" />
                        <div class='btn-group btn_l_ctg'>
                            <a class='btn btn-small dropdown-toggle v_l_ctg' data-toggle='dropdown' id='js-large-category-selected' style='width: 200px; height: 20px;'>
                                未分類
                                <span class='caret'></span>
                            </a>
                        </div>
                        <input class="h_m_ctg" autocomplete="off" type="hidden" name="user_asset_act[middle_category_id]" id="user_asset_act_middle_category_id" />
                        <div class='btn-group btn_m_ctg' id='target-js-content-field'>
                            <a class='btn btn-small dropdown-toggle v_m_ctg' data-toggle='dropdown' id='js-middle-category-selected' style='width: 200px; height: 20px;'>
                                未分類
                                <span class='caret'></span>
                            </a>
                        </div>
                        <input id="js-content-field" placeholder="内容をご入力下さい(任意)" type="text" name="user_asset_act[content]" />-->
<!--[if lte IE 9]>
(内容をご入力下さい)
<![endif]-->
<!--</div>
                </div>
            </div>
            <div class='transfer-alert' id='transfer-alert'>
                <div class='alert alert-danger'>手入力での振替を利用するためには、財布（現金管理口座）もしくは未対応金融機関を手動登録する必要があります。</div>
            </div>
            <div class='transfer-alert' id='transfer-alert-same'>
                <div class='alert alert-danger'>同じ口座同士での振替は出来ません。</div>
            </div>
            <div class='submit-box'>
                <img style="display:none;" id="indicator" src="https://assets.moneyforward.com/assets/loading-27a69b744b2ab154dcfe222f588a1235cf36f59242407c350370346125d392e0.gif" />
                <input type="submit" name="commit" value="保存する" class="btn btn-success" style="width: 120px; height: 33px; margin-right: 25px" id="submit-button" data-disable-with="保存する" />
            </div>
            <div class='control-group confirmation'>
                <div class='alert' id='alert-area' style='display:none; margin-bottom: 0; margin-left: 50px; margin-right: 50px; padding-right: 15px;'></div>
            </div>
            <div class='control-group confirmation'>
                <div class='confirmation-in'>
                    <input class='btn btn-success' id='confirmation-button' style='height: 33px; display:none' type='button' value='続けて入力する'>
                    <input class='btn' id='cancel-button' style='height: 33px; display:none' type='button' value='閉じる'>
                </div>
            </div>
        </div>
    </form>
</div>-->
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalCenterTitle">家計簿入力</h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <ul class='tab-menu'>
                    <li id='important'>
                        <label class='active'>
                            <a class="btn btn-small btn-danger" href="#">
                                <i class="minus-payment icon-minus-sign icon-2x"></i> 
                            </a>
                            支出
                        </label>
                    </li>
                    <li id='info'>
                        <label class='active'>
                            <a class="btn btn-small btn-info" href="#">
                                <i class="plus-payment icon-plus-sign icon-2x"></i>
                            </a>
                            収入
                        </label>
                    </li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>